---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.35;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;



/*****************************/
/* ReScience custom settings */
/*****************************/

h1, h2, h3, h4, h5, h6 {
    color: #ce232b;
    padding-top: 1em;
    font-weight: 500;
}

.site-header strong {
    color: #ce232b;
    font-weight: 600;
}


a:hover {
    text-decoration: none;
}

.site-header {
    border: none;
    min-height: 150px;
}

.site-title a {
    /* padding: .5em .75em .25em 1em;
    background-color:  #ce232b;
    color:  white; */
    color:  #ce232b;
    /*font-size: 80%;*/
    font-weight: 100;
    margin: auto;
    line-height: 200px;
    letter-spacing: .25em;
    text-transform: uppercase;
}

.site-title a:hover {
    text-decoration: none;
/*    color: white;*/
}

.site-nav a {
    font-size: 14px;
    color: #ce232b;
    font-weight: 400;
}

.site-nav a:hover {
    text-decoration: none;
    color: #ce232b;
}

.post-content {
    h2 {
        font-size: 20px;
        @include media-query($on-laptop) {
            font-size: 16px;
        }
    }
    h3 {
        font-size: 16px;

        @include media-query($on-laptop) {
            font-size: 16px;
        }
    }
    h4 {
        font-size: 16px;
        @include media-query($on-laptop) {
            font-size: 16px;
        }
    }
}


a.bibtag {
    padding: .25em .5em .1em .5em;
    background-color:  #ce232b;
    color:  white;
    border-radius: 2px;
}


.collapse {
    font-size: 90%;
    color: black;
    background-color: #fff0f0;
    border: 1px solid black;
}



pre,code {
  border: none;
  color: #555555;
  background: none;
}

.post-tag, .post-tag a {
  color: #fff;
  background-color: #aaa;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  padding: 2px 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.footer-col-wrapper {
    font-size: 12px;
    text-align: center;
    border-top: 1px solid $grey-color-light;
    padding: 10px 0;  
}


.site-footer {
//    border-top: 1px solid $grey-color-light;
    border: none;
    padding: 0;
}

.highlight {
    background: #f0f0ff;
}

li p small {
    display: block;
    width: 50%;
    line-height: 1.25em !important;
    /*padding-left: 10px;*/
    border-top:    1px solid black;
    margin-top:    0.50em;
    padding-top:   0.50em;
    margin-bottom: 2.00em;
}

ol.bibliography {
    font-size: 100%;
    line-height: 1.25em;
}


table {
    clear: both;
}
table td {
    vertical-align: top;
}

table td:first-child{
    width:20%;
}

.thumbnail {
    border: 1px solid black;
}

div.bib-entry-highlight {
    width: 100%;
    padding: 1.5em;
    color: white;
    background-color: #ce232b;
    // border: 1px solid black;
}
