html, body, .container {
    height: 100%;
    margin: 0;
    padding: 0;
}

img {
    position: absolute;
    margin: auto;
    top: -10%;
    left: 0;
    right: 0;
    bottom: 0;
}

footer {
    background: #CF232B;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 48px;
    width: 100%;
}
footer div, footer a {
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
    font-variant: small-caps;
    font-weight: 100;
    font-size: 20px;
    letter-spacing: 10px;
    padding-top: 12px;
    color: white;
}