<footer class="site-footer">
  <div class="wrapper">
    
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="social-media-list">
          <li>The Re<strong>Science</strong> journal</li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li><a href="http://github.com/rescience">github.com/ReScience</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
          <li><a href="http://twitter.com/ReScienceEds">twitter.com/ReScienceEds</a></li>
        </ul>
      </div>
    </div>

  </div>

</footer>
