<footer class="site-footer">
  <div class="wrapper">
    
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="social-media-list">
          <li><a href="http://github.com/rescience">github.com/ReScience</a></li>
          <li><a href="https://github.com/rescience/rescience.github.io/tree/master/{{ page.path }}">View</a>, <a href="https://github.com/rescience/rescience.github.io/edit/master/{{page.path }}">Edit</a>, <a href="https://github.com/rescience/rescience.github.io/commits/master/{{page.path}}">History</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li><a href="http://rescience.github.io">The Re<strong>Science</strong> journal</a></li>
          <li>ISSN 2430-3658</li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
          <li><a href="http://twitter.com/ReScienceEds">twitter.com/ReScienceEds</a></li>
        </ul>
      </div>
    </div>

  </div>

</footer>
