<footer class="site-footer">
  <div class="wrapper">
    
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="social-media-list">
          <li><a href="http://github.com/rescience-c/rescience-c.github.io">Website sources</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li><a href="http://rescience-c.github.io">ReScience C</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
          <li>ISSN 2430-3658</li>
        </ul>
      </div>
    </div>

  </div>

</footer>
