---
layout: default
---
<div class="post">

  <article class="post-content">
    {{ content }}
  </article>

  <ul class="post-list">
    {% for post in site.posts %}
    {% if post.type == "article" %}
      <li>
        <span class="post-meta">
          {{ post.date | date: "%b %-d, %Y" }} |
          <strong>
          <a class="post-meta" href="{{ post.review }}">Review</a> |
          <a class="post-meta" href="{{ post.repository }}">Repository</a> |
          <a class="post-meta" href="{{ post.zenodo }}">DOI {{ post.doi }}</a>
          </strong>
        </span> 
        <br/>
        <a href="{{ post.pdf }}">{{ post.title }}</a> -
        {{ post.author }},
        Re<strong>Science</strong>,
        volume {{ post.volume }}, 
        issue {{ post.issue }},
        {% if post.number %} #{{ post.number }}, {% endif %}
        {{ post.date | date: "%Y" }}.<br/>
        <strong>Keywords: </strong>{{ post.keywords }}
      </li>
      {% endif %}
    {% endfor %}
  </ul>

</div>
